:root {
  --primary-color: rgb(47, 93, 138);
  --secondary-color: rgb(69, 121, 188);
}

.Weather h1 {
  margin: 30px auto 30px 0;
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
}

.Weather .form-control,
.Weather .btn {
  padding: 10px 25px;
  border-radius: 20px;
}

.Weather .btn {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.Weather .btn:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.Weather .current-weather-box,
.WeatherForecast {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 20px;
  margin: 15px 0;
}

.Weather h2 {
  font-size: 20px;
  color: var(--primary-color);
}

.Weather h3 {
  line-height: 1.5;
  opacity: 0.7;
  font-size: 16px;
}

.Weather .metricswitch {
  text-align: right;
}

.highlighted-temp-box {
  display: flex;
  justify-content: left;
}

.highlighted-icon {
  margin: 20px 15px 0px 20px;
}

.Weather .highlighted-temp {
  font-size: 68px;
  color: var(--primary-color);
}

.Weather .metricswitch {
  opacity: 0.7;
  font-size: 16px;
  position: relative;
  top: -40px;
}

.Weather ul {
  list-style: none;
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--secondary-color);
}

.Weather .col-3 ul {
  color: black;
  opacity: 0.5;
}

.Weather .WeatherForecast .col {
  text-align: center;
}

.Weather .WeatherForecast-temperatures {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
}

.Weather .WeatherForecastDay {
  color: var(--secondary-color);
  font-weight: 600;
  margin-bottom: 10px;
}

.Weather .WeatherForecast-max-temperature {
  margin-right: 4px;
  font-weight: 600;
}
.Weather .WeatherForecast-min-temperature {
  opacity: 0.6;
  margin-left: 4px;
}

a {
  text-decoration: none;
}
